.containerStyle {
	overflow:hidden;
	display:inline;
	white-space:nowrap;
	text-overflow:none;
}

.buttonStyle {
	font-family: PT Sans;
	font-weight: bold;
	font-size: 10px;
	color: #414142;
	height: 17px;
	margin-right:8px;
	border:1px solid #BBBDBF;
	box-shadow: inset 0px 0px 1px 1px #E6E6E5;
	border-radius:3px;
	min-width: 125px;
	background: -moz-linear-gradient(top, rgba(241,242,242,1) 0%,rgba(187,189,191,1) 100%,rgba(187,189,191,1) 100%); /*FireFox */
	background: -webkit-linear-gradient(top, rgba(241,242,242,1) 0%,rgba(187,189,191,1) 100%,rgba(187,189,191,1) 100%); /*Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(241,242,242,1) 0%,rgba(187,189,191,1) 100%,rgba(187,189,191,1) 100%); /*Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(241,242,242,1) 0%,rgba(187,189,191,1) 100%,rgba(187,189,191,1) 100%); /*IE10+ */
	background: linear-gradient(top, rgba(241,242,242,1) 0%,rgba(187,189,191,1) 100%,rgba(187,189,191,1) 100%); /*W3C */
	filter: literal("progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFF1F2F2', endColorstr='#FFBBBDBF',GradientType=0 )");/*IE 8*/
}

.buttonStyle:hover {
	background: -moz-linear-gradient(top, rgba(229, 231, 232, 1) 0%,rgba(210, 212, 214, 1) 100%,rgba(210, 212, 214, 1) 100%); /*FireFox */
	background: -webkit-linear-gradient(top, rgba(229, 231, 232, 1) 0%,rgba(210, 212, 214, 1) 100%,rgba(210, 212, 214, 1) 100%); /*Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(229, 231, 232, 1) 0%,rgba(210, 212, 214, 1) 100%,rgba(210, 212, 214, 1) 100%); /*Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(229, 231, 232, 1) 0%,rgba(210, 212, 214, 1) 100%,rgba(210, 212, 214, 1) 100%); /*IE10+ */
	background: linear-gradient(top, rgba(229, 231, 232, 1) 0%,rgba(210, 212, 214, 1) 100%,rgba(210, 212, 214, 1) 100%); /*W3C */
	filter: literal("progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFE5E7E8', endColorstr='#FFD2D4D6',GradientType=0 )");/*IE 8*/
}

.buttonStyle:active {
	background: -moz-linear-gradient(top, rgba(210, 210, 212, 1) 0%,rgba(239, 240, 242, 1) 100%,rgba(239, 240, 242, 1) 100%); /*FireFox */
	background: -webkit-linear-gradient(top, rgba(210, 210, 212, 1) 0%,rgba(239, 240, 242, 1) 100%,rgba(239, 240, 242, 1) 100%); /*Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(210, 210, 212, 1) 0%,rgba(239, 240, 242, 1) 100%,rgba(239, 240, 242, 1) 100%); /*Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(210, 210, 212, 1) 0%,rgba(239, 240, 242, 1) 100%,rgba(239, 240, 242, 1) 100%); /*IE10+ */
	background: linear-gradient(top, rgba(210, 210, 212, 1) 0%,rgba(239, 240, 242, 1) 100%,rgba(239, 240, 242, 1) 100%); /*W3C */
	filter: literal("progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFEFF0F2', endColorstr='#FFD2D2D4',GradientType=0 )");/*IE 8*/
}

.buttonSelectedStyle {
	font-family: PT Sans;
	font-weight: bold;
	font-size: 10px;
	color: #FFFFFF;
	height: 17px;
	margin-right:8px;
	border:1px solid #B4B2B4;
	box-shadow: inset 0px 0px 1px 1px #FDC98F;
	border-radius:3px;
	min-width: 125px;
	background: -moz-linear-gradient(top, rgba(228,185,36,1) 0%,rgba(219,118,39,1) 100%,rgba(219,118,39,1) 100%);/*FireFox*/
	background: -webkit-linear-gradient(top, rgba(228,185,36,1) 0%,rgba(219,118,39,1) 100%,rgba(219,118,39,1) 100%); /*Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(228,185,36,1) 0%,rgba(219,118,39,1) 100%,rgba(219,118,39,1) 100%); /*Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(228,185,36,1) 0%,rgba(219,118,39,1) 100%,rgba(219,118,39,1) 100%); /*IE10+ */
	background: linear-gradient(top, rgba(228,185,36,1) 0%,rgba(219,118,39,1) 100%,rgba(219,118,39,1) 100%); /*W3C */
	filter: literal("progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFE4B924', endColorstr='#FFDB7627',GradientType=0 )");/*IE 8*/
}

.buttonSelectedStyle:hover {
	background: -moz-linear-gradient(top, rgba(228, 181, 40, 1) 0%,rgba(225, 153, 40, 1) 100%,rgba(225, 153, 40, 1) 100%);/*FireFox*/
	background: -webkit-linear-gradient(top, rgba(228, 181, 40, 1) 0%,rgba(225, 153, 40, 1) 100%,rgba(225, 153, 40, 1) 100%); /*Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(228, 181, 40, 1) 0%,rgba(225, 153, 40, 1) 100%,rgba(225, 153, 40, 1) 100%); /*Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(228, 181, 40, 1) 0%,rgba(225, 153, 40, 1) 100%,rgba(225, 153, 40, 1) 100%); /*IE10+ */
	background: linear-gradient(top, rgba(228, 181, 40, 1) 0%,rgba(225, 153, 40, 1) 100%,rgba(225, 153, 40, 1) 100%); /*W3C */
	filter: literal("progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFE4B528', endColorstr='#FFE19928',GradientType=0 )");/*IE 8*/
}

.buttonSelectedStyle:active {
	background: -moz-linear-gradient(top, rgba(228, 185, 39, 1) 0%,rgba(225, 160, 40, 1) 100%,rgba(225, 160, 40, 1) 100%);/*FireFox*/
	background: -webkit-linear-gradient(top, rgba(228, 185, 39, 1) 0%,rgba(225, 160, 40, 1) 100%,rgba(225, 160, 40, 1) 100%); /*Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(228, 185, 39, 1) 0%,rgba(225, 160, 40, 1) 100%,rgba(225, 160, 40, 1) 100%); /*Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(228, 185, 39, 1) 0%,rgba(225, 160, 40, 1) 100%,rgba(225, 160, 40, 1) 100%); /*IE10+ */
	background: linear-gradient(top, rgba(228, 185, 39, 1) 0%,rgba(225, 160, 40, 1) 100%,rgba(225, 160, 40, 1) 100%); /*W3C */
	filter: literal("progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFE4B924', endColorstr='#FFDB7627',GradientType=0 )");/*IE 8*/
}
